.Home {
    text-align: center;
    color: yellow;
    font-family: Helvetica;

}


h1 {
    font-weight: bold;
    color: #5C49DD;
    font-size: 70px;
    text-align: center;
}

h2 {
    /* bottom: 5px; */
    font-weight: bold;
    color: yellow;
    font-size: 40px;
    text-align: center;
    position: relative;
}

.textbox {
    /* bottom: 5px; */
    font-weight: bold;
    color: yellow;
    font-size: 40px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

canvas {
    /* position: relative;
    justify-content: center;
    align-items: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}