.Home {
    text-align: center;
    font-family: Helvetica;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;

}


h1 {
    font-weight: bold;
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 6em;
    text-align: left;
    font-weight: 300;
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

h2 {
    /* bottom: 5px; */
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-align: left;
    position: relative;
    margin-left: 5vw;
}

.textbox {
    /* bottom: 5px; */
    font-weight: bold;
    color: yellow;
    font-size: 40px;
    text-align: center;

    width: 300;
    height: 40;
    background-color: '#fff';
    /* padd: 10;
    paddingHorizontal: 15; */
    border-color: '#ccc';
    border-width: 1;
    border-radius: 15;
    font-size: 16;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

canvas {
    /* position: relative;
    justify-content: center;
    align-items: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block {
    /* height: 5px; */
    /* width: 391px; */
    display: grid;
    /* grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(255, 255, 255); */
}

hr {
    margin: 20px;
    border: 1px solid rgb(0, 0, 0);
}

.vl {
    border-right: 2px solid black;
    height: 100vh;
    position: absolute;
    right: 10vw;
}

.horizontalline2 {
    position: absolute;
    /* margin-top: 8vh; */
    bottom: 10vh;
}

.feedback {
    position: absolute;
    bottom: 2vh;
    margin-left: 5vw;
    text-align: left;
    font-size: 4em;
    font-weight: bold;
    font-weight: 300;
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/* .congrats {
    position: absolute;
    margin-top: 1vh;
    margin-bottom: 0vh;
    font-size: 4em;
    font-weight: bold;
    font-weight: 300;
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
} */

.scoreheader {
    border: 1px solid black;
    border-radius: 20px;
    padding: 2vh;
    position: absolute;
    text-align: right;
    top: 2vh;
    right: 15vw;
    font-size: 2.5em;
}

#hintButton {
    font-size: 23px;
}

@supports (filter: invert(1)) and (background-blend-mode: difference) {
    .pencil-effect {
        background-size: cover;
        background-image: url("https://bennettfeely.com/image-effects/css/photo.jpg"), url("https://bennettfeely.com/image-effects/css/photo.jpg");
        background-blend-mode: difference;
        background-position: calc(50% - 1px) calc(50% - 1px), calc(50% + 1px) calc(50% + 1px);
        filter: brightness(1) invert(1) grayscale(1);
    }
}

#spliceHomeLink {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#infoBtn {
    padding: 2vh;
    position: absolute;
    text-align: right;
    top: 3vh;
    right: 0vw;
}

#modal-modal-description1 {    
    text-align: center;
}

#modal-modal-description2 {
    text-align: center;
}

#modal-modal-description3 {
    text-align: center;
}

#modal-modal-description4 {
    text-align: center;
}

#modal-modal-description5 {
    text-align: center;
}

#modal-modal-description6 {
    text-align: center;
}

#boxModal {
    margin-top: 4em;
    /* background-color: beige; */
}

/* #playBtn {
    float: left;
    padding-left: 5em;
} */



