.Home {
    text-align: center;
    font-family: Helvetica;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;

}


h1 {
    font-weight: bold;
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 6em;
    text-align: left;
    font-weight: 300;
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

h2 {
    /* bottom: 5px; */
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-align: left;
    position: relative;
    margin-left: 5vw;
}

.textbox {
    /* bottom: 5px; */
    font-weight: bold;
    color: yellow;
    font-size: 40px;
    text-align: center;

    width: 300;
    height: 40;
    background-color: '#fff';
    /* padd: 10;
    paddingHorizontal: 15; */
    border-color: '#ccc';
    border-width: 1;
    border-radius: 15;
    font-size: 16;
}

.textbox {
    /* bottom: 5px; */
    position: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

canvas {
    /* position: relative;
    justify-content: center;
    align-items: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block {
    /* height: 5px; */
    /* width: 391px; */
    display: grid;
    /* grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(255, 255, 255); */
}

hr {
    margin: 20px;
    border: 1px solid rgb(0, 0, 0);
}

.vl {
    border-right: 2px solid black;
    height: 100vh;
    position: absolute;
    right: 10vw;
}

.horizontalline2 {
    margin-top: 8vh;
    /* margin-bottom: 2vh; */
}

.didnotgetit {
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 4em;
    font-weight: bold;
    font-weight: 300;
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.congrats {
    margin-top: 1vh;
    margin-bottom: 0vh;
    font-size: 4em;
    font-weight: bold;
    font-weight: 300;
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.scoreheader {
    border: 1px solid black;
    border-radius: 20px;
    padding: 2vh;
    position: absolute;
    text-align: right;
    top: 3vh;
    right: 15vw;
    font-size: 2.5em;
}


