.Home {
    text-align: center;
    color: yellow;
    font-family: Helvetica;
    
  }

.Home-logo {
    height: 150px;
}

h1 {
    font-weight: bold;
    color: #5C49DD;
    font-size: 80px;
}

h1 {
    font-size: 70px;
}

.btn {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10%;
    cursor: pointer;
} 

#modal-modal-title {
    /* text-align: center; */
    color: black
}