.wrapper {
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
}

.Home {
    color: black;
    font-family: Helvetica;
  }

.Home-logo {
    height: 150px;
}

h1 {
    font-weight: 900;
    color: black;
    font-size: 6em;
    text-align: right;
}


#modal-modal-title {
    /* text-align: center; */
    color: black
}