.Header {
    /* color: white;
    text-align: left;
    font-family: Helvetica; */
    /* background-image: url("AuraSample.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

}